<%- include("head.ejs"); %>

    <body>
        <%- include("navbar.ejs"); %>
            <form action="/modulo2/<%=id_user%>/<%=id_project%>/avaliacao" method="post" class="newreqform">

                <div class="table-responsive-lg">
                    <table class="table table-striped table-lg">
                        <thead>
                            <tr>
                                <th>Pergunta</th>
                                <th>Resposta</th>
                                <th>Pontuação</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for (const item of perguntas){ %>
                                <tr>
                                    <td>
                                        <%= item.nome %>

                                    </td>
                                    <td>
                                        <select name="resp">
                                            <option value="Y">Y</option>
                                            <option value="N">N</option>
                                        </select>
                                    </td>
                                    <td>
                                        <%= item.value %>
                                            0
                                    </td>
                                </tr>

                                <% } %>
                        </tbody>
                    </table>
                </div>
                <!--SubmitButton-->
                <input type="submit" class="btn btn-primary btn-block mb-4" name="submit" value="Enviar" />
            </form>
    </body>