<!-- 
  backend requirements: 
      - user: user data on database
-->

<%- include("head.ejs"); %>

  <body class="page-body">
    <%- include("navbar.ejs"); %>
      <form action="/edituser/<%= user.id%>" method="post" class="floating-form">
        <input class="back-button" type="button" onclick="history.back()"></input>
        <h1 class="form-title">Edite seus dados</h1>
        <!-- Name input -->
        <div class="form-input">
          <input type="text" id="form2Example1" class="form-control" name="nome" value="<%=user.nome %>" />
          <label class="form-label" for="form2Example1">Nome</label>
        </div>

        <!-- Username input -->
        <div class="form-input">
          <input type="text" id="form2Example2" class="form-control" name="username" value="<%=user.username %>" />
          <label class="form-label" for="form2Example2">Usuário</label>
        </div>

        <!-- Password input -->
        <div class="form-input">
          <input type="password" id="form2Example2" class="form-control" name="password" value="<%=user.password %>" />
          <label class="form-label" for="form2Example2">Senha</label>
        </div>

        <!-- Email input -->
        <div class="form-input">
          <input type="email" id="form2Example2" class="form-control" name="email" value="<%=user.email %>" />
          <label class="form-label" for="form2Example2">E-mail</label>
        </div>

        <!-- Submit button -->
        <input type="submit" class="custom-button" name="submit" value="Edit User" />

      </form>
  </body>