<%- include("head.ejs"); %>

    <body>
        <%- include("navbar.ejs"); %>

            <form action="/<%=id_user%>/project/<%=id_project%>/req/<%=data.id%>" method="post" class="newreqform">
                <h1>
                    <%= type==='register' ?'Cadastre':'Edite'%> seu requisito
                </h1>

                <div class="form-outline mb-4">
                    <input type="text" id="form2Example2" class="form-control" name="reqtitle" value="<%= data.nome%>">
                    <label>Título do requisito</label>
                </div>
                <div class="form-outline mb-4">
                    <input type="text" id="form2Example2" class="form-control" name="reqmethod"
                        value="<%= data.condicao%>">
                    <label>Condição</label>
                </div>
                <div class="form-outline mb-4">
                    <label>CRUD</label>
                    <select name="operacao_crud" value="<%= data.crud%>">
                        <option value='<%=data.crud%>' selected hidden>
                            <%=data.crud%>
                        </option>
                        <option value='C'>C</option>
                        <option value='R'>R</option>
                        <option value='U'>U</option>
                        <option value='D'>D</option>
                    </select>
                </div>
                <div class="form-outline mb-4">
                    <label>GET/SET</label>
                    <select name="tipo_metodo" selected="">
                        <option value='<%=data.getset%>' selected hidden>
                            <%=data.getset%>
                        </option>
                        <option value='GET'>GET</option>
                        <option value='SET'>SET</option>
                    </select>
                </div>

                <!-- Submit button -->
                <input type="submit" class="btn btn-primary btn-block mb-4" name="submit" value="Enviar" />

            </form>
    </body>