<%- include("head.ejs"); %>

<body class="page-body">
    <%- include("navbar.ejs"); %>
    <div class="floating-form">
        <input class="back-button" type="button" onclick="history.back()" />
        <h1 class="form-title">Projetos</h1>

        <div class="center-items">
            <a class="no-decoration-link" href="/<%=id_user%>/project">
                <div class="head-button">Novo projeto</div>
            </a>
        </div>

        <div class="table-responsive-lg">
            <table class="table table-striped table-lg">
                <thead>
                    <tr>
                        <th>Nº</th>
                        <th>Nome</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (const item of data){ %>
                    <tr>
                        <td><%= item.id %></td>
                        <td><%= item.nome %></td>
                        <td class="d-print-none">
                            <a
                                class="custom-button"
                                href="/modulo2/<%= id_user %>/<%= item.id %>/avaliacao/"
                                >Avaliação</a
                            >
                            <a
                                class="custom-button"
                                href="/modulo2/<%= id_user %>/<%= item.id %>/diagramas/"
                                >Diagramas</a
                            >
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</body>
