<%- include("head.ejs"); %>

    <body>
        <h2>Cadastre-se</h2>

        <form action='/signin' method="post">
            <div>
                <label for="nome">Nome</label>
                <input type="text" name="nome" value="<%=user.nome %>" />
            </div>
            <div>
                <label for="login">Username</label>
                <input type="text" name="username" value="<%=user.username %>" />
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" name="password" value="<%=user.password %>" />
            </div>
            <div>
                <label for="email">Email</label>
                <input type="text" name="email" value="<%=user.email %>" />
            </div>
            <input type="submit" name="submit" value="Registrar" />
        </form>
    </body>