<%- include("head.ejs"); %>

    <body>
        <%- include("navbar.ejs"); %>

            <div class="descritivo">
                <h1>Descritivo</h1>
                <p>
                    <%= descritivo.texto %>
                </p>
            </div>

            <div class="table-responsive-lg">
                <table class="table table-striped table-lg">
                    <thead>
                        <tr>
                            <th scope="col">Requisito Funcional</th>
                            <th scope="col">Caso de uso</th>
                            <th scope="col">Entidade MER</th>
                            <th scope="col">Atributos Entidades</th>
                            <th scope="col">Condições</th>
                            <th scope="col">CRUD</th>
                            <th scope="col">get/set</th>
                            <th scope="col">SQL</th>
                            <th scope="col">Assoc. Classes</th>
                            <th scope="col">Estrutura dados</th>
                            <th class="d-print-none">
                                <a class="btn btn-sm btn-success"
                                    href="/<%=id_user%>/project/<%=id_project%>/req">Cadastrar novo
                                    Requisito</a>
                            </th>
                            <th class="d-print-none">
                                <a class="btn btn-sm btn-success"
                                    href="/<%=id_user%>/project/<%=id_project%>/casouso">Cadastrar novo
                                    Caso de uso</a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (const item of data){ %>
                            <tr>
                                <td>
                                    <%= item.nome %>
                                </td>
                                <td>
                                    <!-- ajustar -->
                                    <%= item.condicao %>
                                </td>
                                <td>
                                    <!-- ajustar -->
                                    <%= item.condicao %>
                                </td>
                                <td>
                                    <!-- ajustar -->
                                    <%= item.condicao %>
                                </td>
                                <td>
                                    <%= item.condicao %>
                                </td>
                                <td>
                                    <%= item.crud %>
                                </td>
                                <td>
                                    <%= item.getset %>
                                </td>
                                <td>
                                    <%= item.sql_projeto %>
                                </td>
                                <td>
                                    <!-- ajustar -->
                                    <%= item.sql_projeto %>
                                </td>
                                <td>
                                    <!-- ajustar -->
                                    <%= item.sql_projeto %>
                                </td>
                                <td>
                                    <!--empty-->
                                </td>
                                <td class="d-print-none">
                                    <a class="btn btn-sm btn-warning"
                                        href="/<%=id_user%>/project/<%=id_project%>/req/<%= item.id %>">Edit</a>
                                    <a class="btn btn-sm btn-danger"
                                        href="/<%=id_user%>/delete/<%=id_project%>/req/<%= item.id %>">Delete</a>
                                </td>
                            </tr>
                            <% } %>
                    </tbody>
    </body>