<%- include("head.ejs"); %>

<body>
    <%- include("navbar.ejs"); %>

    <div class="table-responsive-lg">
        <table class="table table-striped table-lg">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Tipo</th>
                </tr>
            </thead>
            <tbody>
                <% for (const item of data){ %>
                <tr>
                    <td><%= item.nome %></td>
                    <td><%= item.tipo %></td>
                    <td class="d-print-none">
                        <a
                            class="btn btn-sm btn-warning"
                            href="/<%=id_user%>/project/<%=id_project%>/casouso/<%= item.id %>"
                            >Edit</a
                        >
                        <a
                            class="btn btn-sm btn-danger"
                            href="/<%=id_user%>/delete/<%=id_project%>/casouso/<%= item.id %>"
                            >Delete</a
                        >
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>

    <div class="table-responsive-lg matrix-table">
        <table class="table table-striped table-lg">
            <thead>
                <tr>
                    <th></th>
                    <% for(const item of data){ %>
                    <th><%= item.nome %></th>
                    <% } %>
                </tr>
            </thead>
            <tbody>
                <% for (const item of data){ %>
                <tr>
                    <td><%= item.nome %></td>
                    <% for(const item2 of data){ %>
                        <!-- <td><%=// item2.nome %></td> -->
                        <% // for(const rel of relacionamentos){ %>
                            <th>
                                <!-- Verificar se os casos possuem um relacionamento -->
                                <% //if ((rel.fk_caso_1 == item.id and rel.fk_caso_2 == item2.id) or (rel.fk_caso_1 == item.id and rel.fk_caso_2 == item2.id)){ %>
                                    <td>1</td>
                                <%// } else{ %>
                                    <td>0</td>
                                <%// } %>   
                            </th>
                        <% //} %>
                    <% } %>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</body>
